<div class="d-flex p-4 w-100" style="align-items: center; justify-content: center; background-color: #0001;">
  <div class="d-flex">
    <a [routerLink]="['/dash-one']" class="btn btn-primary" type="button">dash-one</a>
    <a [routerLink]="['/dash-two']" class="btn btn-primary" type="button">dash-two</a>
    <a [routerLink]="['/dash-three']" class="btn btn-primary" type="button">dash-three</a>
    <a [routerLink]="['/dash-four']" class="btn btn-primary" type="button">dash-four</a>
  </div>
</div>
<router-outlet></router-outlet>